.button {
  color: #ffffff;
  background-color: #5A6877;
  border: 2px solid #5A6877;
  display: inline-block;
  min-width: 180px;
  line-height: 48px;
  border-radius: 24px;
  font-size: 14px;
}

.button:hover {
  color: #5A6877;
  background-color: #ffffff;
}