.top {
  height: calc(100vh - 110px);
  background-image: url(/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.title {
  font-size: 30px;
  margin-top: 300px;
  margin-left: 200px;
  margin-right: 200px;
  color: #ffffff;
  font-weight: bold;
  text-shadow:  1px 1px 20px #373939;
}

.paragraph {
  color: #ffffff;
  font-weight: bold;
  text-shadow:  1px 1px 20px #373939;
  margin-top: 300px;
  margin-left: 200px;
  font-size: 18px;
  margin-top: 20px;
}

.newsLink {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.news {
  position: relative;
  background-color: #ffffff;
  width: 840px;
  margin: 30px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.newsTitle {
  font-size: 25px
}


/* スマホ */
@media (max-width: 850px) {

.title {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.paragraph {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.news {
  width: auto;
  height: auto;
}

}